<form >
   <mat-toolbar >
   <mat-grid-tile-header color="primary">
      <button mat-button [matMenuTriggerFor]="aboveMenu" color="primary">Menu</button>
      <mat-menu #aboveMenu="matMenu" yPosition="above">
         <li class="nav-items"> <a class="nav-link active" routerLink="/">Menu</a></li>
      </mat-menu>

      <button mat-button [matMenuTriggerFor]="belowMenu" 
       color="primary">Information</button>
      <mat-menu #belowMenu="matMenu" yPosition="below">
         <li class="nav-items"> <a class="nav-link active" 
             routerLink="/address">Information</a></li>
      </mat-menu>

      <button mat-button [matMenuTriggerFor]="beforeMenu" 
       color="primary">Dashboard</button>
      <mat-menu #beforeMenu="matMenu" xPosition="before">
         <li class="nav-items"> <a class="nav-link active" 
             routerLink="/dashboard">Dashboard</a></li>
      </mat-menu>


      <button mat-button [matMenuTriggerFor]="afterMenu" color="primary">Routing</button>
      <mat-menu #afterMenu="matMenu" xPosition="after">
         <li class="nav-items"> <a class="nav-link active" routerLink="/cdk">Routine</a></li>


      </mat-menu>
   </mat-grid-tile-header>
</mat-toolbar> 
</form>
<router-outlet></router-outlet>



<!-- <header>
     <nav> 
        <ul class="nav nav-tabs">

            <li class="nav-items">  <a class ="nav-link active" 
                routerLink="/">Menu</a></li>

                
         <li class="nav-items">  <a class ="nav-link active" 
            routerLink="/address">Information</a></li>

         <li class="nav-items">  <a class ="nav-link active" 
                     routerLink="/dashboard">Dashboard</a></li>

         <li class="nav-items">  <a class ="nav-link active" 
                        routerLink="/cdk">Routine</a></li>

        </ul>
     </nav>
 </header> -->